.accordion {
  box-shadow: $shadow;

  &.side-padding {
    padding: $sidePadding;
  }

  @media screen and (min-width: 1024px) {
    &.side-padding {
      padding: 0;
    }
  }

  button {
    border-bottom: 1px solid $black;
    padding: 15px 10px;
    display: block;
    font-weight: bold;
    width: 100%;
    text-align: left;

    &:hover {
      background: $black;
      color: $white;
      transition: $transition;
    }

    &.is-active {
      background: $black;
      color: $white;
      transition: $transition;

      + .accordion-content {
        height: auto;
        overflow: auto;
        transition: $transition;
        opacity: 1;
        border-bottom: 1px solid #333;
        animation: stretch 0.4s ease forwards;
      }
    }

    &.is-disabled {
      + .accordion-content {
        animation: reverseStretch 0.4s ease forwards;
      }
    }
  }

  &-content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: $transition;
    padding: 0 15px;

    p {
      display: block;
    }
  }

  @keyframes stretch {
    0% {
      padding: 0 15px;
    }

    100% {
      padding: 15px;
    }
  }

  @keyframes reverseStretch {
    0% {
      padding: 15px;
    }

    100% {
      padding: 0 15px;
    }
  }
}