.btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: $borderBlack;
  border-radius: 30px;
  font-size: 1.4rem;
  transition-duration: 0.4s;

  &-icon {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: $borderBlack;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
  }

  &-txt {
    display: inline-block;
  }

  &:hover {
    transition-duration: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0);
    background: #333;
    color: #fff;
  }

  &:focus {
    transition-duration: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0);
    background: #333;
    color: #fff;
  }
}