.card {
  box-shadow: $shadow;
  border-radius: 5px;

  cursor: pointer;
  transition-duration: $transition;
  box-sizing: border-box;

  &-inner {
    padding: 10px;
  }

  &-img {
    min-height: 200px;
    width: 100%;
    background: url('../images/orange.png') no-repeat;
    background-size: cover;
  }

  &-txt {
    p {
      display: block;
      word-wrap: break-word; /* IE11用 */
      overflow-wrap: break-word;
    }
  }

  &-btn {
    display: flex;
    justify-content: flex-end;
  }

  &:hover {
    transition-duration: $transition;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}