html {
  font-size: 10px;
}

body {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  color: #1a0dab;
  text-decoration: none;
}