.list {
  &.--card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 48%;
      max-width: 500px;
      min-width: 135px;
      margin: 10px;
      transition: $transition;

      &:nth-child(2n-1) {
        margin: 10px 10px 0 0;
      }

      &:nth-child(2n) {
        margin: 10px 0;
      }
    }
  }
}
