.nav-toggle-button {
  height: 20px;
  width: 30px;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  transition-duration: $transition;

  @media screen and (min-width: 1024px) {
    opacity: 0;
    transition-duration: $transition;
  }

  &-inner {
    height: 100%;
    position: relative;
  }
}

.hamburger {
  &-line {
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background: #333;
    transition-duration: $transition;

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 100%;
    }
  }
}

.top-nav {
  transform: translateX(100%);
  opacity: 0;
  transition-duration: $transition;
  height: 100vh;
  width: 80%;
  position: fixed;
  right: 0;
  display: flex;
  background: #fff;
  z-index: 99;

  ul {
    transform: translateY(70px);

    li {
      cursor: pointer;
      margin-bottom: 20px;
      font-size: 1.4rem;
    }

    a {
      color: #333;
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .top-nav {
    transform: translateX(0);
    opacity: 1;
    transition-duration: $transition;
    position: absolute;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0);

    ul {
      width: 80%;
      transform: translateY(0);
      display: flex;

      li {
        cursor: pointer;
        margin-right: 2rem;
        margin-bottom: 0;
        font-size: 1.6rem;
      }
    }
  }
}

.closed-menu-bg {
  opacity: 0;
  visibility: hidden;
  transition-duration: $transition;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 9;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .closed-menu-bg {
    opacity: 0;
    visibility: hidden;
  }
}