.tab {
  display: flex;
  flex-wrap: wrap;
  box-shadow: $shadow;
  border-radius: 5px;

  &.side-padding {
    padding: $sidePadding;
  }

  @media screen and (min-width: 1024px) {
    padding: 0;
  }

  input {
    display: none;

    &:checked + label {
      color: #fff;
      background: #333;
    }

    &:checked + label + .tab-content {
      height: auto;
      overflow: auto;
      transition: $transition;
      opacity: 1;

      p {
        padding: 15px;
      }
    }
  }

  label {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #333;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    width: 33%;
    min-width: 33%;
    padding: 10px 0;
    transition: $transition;
    flex: 1;
    order: -1;

    &:hover {
      color: #fff;
      background: #333;
      transition: $transition;
    }
  }

  &-content {
    height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;

    p {
      display: block;
      padding: 0 15px;
    }
  }
}